@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var customer = ViewBag.Customer;
}

<h2>Your Order</h2>

@using (Html.BeginForm("Order", "Order", FormMethod.Post))
{
    <div style="display: flex; flex-direction: column; max-width: 200px;">
        <label for="name" style="margin-top: 10px">Name:</label>
        <input id="name" name="name" value="@customer.Name"/>
        <label for="address" style="margin-top: 10px">Address:</label>
        <input id="address" name="address" value="@customer.Address"/>
        <label for="phone" style="margin-top: 10px">Phone:</label>
        <input id="phone" name="phone" value="@customer.Phone"/>
        <label for="city" style="margin-top: 10px">City:</label>
        <input id="city" name="city" value="@customer.City"/>
        <label for="state" style="margin-top: 10px">State:</label>
        <input id="state" name="state" value="@customer.State"/>
        <label for="zip" style="margin-top: 10px">ZIP Code:</label>
        <input id="zip" name="zip" value="@customer.Zip"/>
        <label for="country" style="margin-top: 10px">Country:</label>
        <input id="country" name="country" value="@customer.Country"/>

        <input id="save" name="save" type="checkbox"/>
        <label for="save">Save information for future purchases</label>

        <button style="margin-top: 40px">Confirm Order</button>
    </div>
}